<h1>Global Impact</h1>

<ul class="map-legend">
  <li class="map-legend__item">
    <span class="map-legend__swatch map-legend__swatch--experience"></span>
    <p style="margin:0;font-size: smaller;">Professional Experience</p>
  </li>
  <li class="map-legend__item">
    <span class="map-legend__swatch map-legend__swatch--publication"></span>
    <p style="margin:0;font-size: smaller;">Research &amp; Innovation</p>
  </li>
  <li class="map-legend__item">
    <span class="map-legend__swatch map-legend__swatch--demo"></span>
    <p style="margin:0;font-size: smaller;">Interactive Demonstrations</p>
  </li>
</ul>

<div id="map-container"></div>
<div id="tooltip"></div>